/* TENTANDO AJUSTAR PARA A APARECER TODO O CONTEÚDO NA FUNÇÃO PRINT */
/*
.accordion .collapsed {
  height: 0;
  overflow: hidden;
}

@media print {
  .accordion .collapsed {
       height: auto;
  }
}
*/